body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: blanchedalmond;
    align-items: center;
}
.header_text{
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: black;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    
}
.gif_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 10px;
    justify-items: center;
}


